/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
 /* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
  content: ''; content: none;
}
*/
table {
  border-collapse: collapse; border-spacing: 0;
}
a{
  text-decoration: none;
}
@media (max-width: 800px){
  .nav-all{
    background-color: white;
  }
}

.nav-all{
  margin: 0px;
  display: grid;
  grid-template-rows: 60px 200px;
  background-color: #FFF1EE;
}
.nav-banner{
  padding: 5px 0px 5px;
  display: grid;
  height: 50px;
}
.nav-title{
  text-align: center;
  width: 1640px;
  height: 260px;
  display: grid;
  height: 200px;
}
h1{
  margin: 0px;
  padding-top: 30px;
}
.nav-b-cont{
display: grid;
position: relative;
width: 1620px;
height: 30px;
padding: 10px;
grid-template-columns: 1250px 1fr;
}
.nav-b-content{
display: grid;
position: relative;
padding: 0px;
grid-template-columns: repeat(5, 20%);
}
.nav-b-content button{
font-size: 12px;
padding: 5px 5px;
color:#B6523E;
background: white;
border: 1px solid #FF785D;
border-radius:0.5em;
}
.nav-b-content button:hover{
  color:white;
  background-color: #B6523E;
}
.box-all .item{
display: grid;
top: 50%;
left: 50%;
align-items: center;
}
.sbox2-all .item{
display: grid;
top: 50%;
left: 50%;
align-items: center;
}
#conta .item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allbox{
  width: 1640px;
  display: grid;
  grid-template-columns: 1340px 300px;
  border-top: 5px solid #FF774C;
}

.box1all{
  margin-top: 30px;
  border-right: 3px solid #FFAB90;
}
.box-all{
  width: 1340px;
  display: grid;
  grid-template-rows: 100px 200px 200px 200px;
  grid-template-columns: repeat(4, 300px);
  }

.box-1{
  display: flex;
  position: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-1:nth-child(1){
  grid-column: span 4;
}
#cobaox{
  background-color: #;
}
.box{
  display: flex;
  position: relative;
  width: 200px;
  height: 130
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFE2E2;
  grid-auto-rows: repeat(2, 15px 1fr);
}
.box-1 ol a{
  color: #C46363;
  padding-bottom: 5px;
}

.sbox2all{
  margin-top: 30px;
  width: 300px;
  }
.sbox2-all{
  width: 300px;
  display: grid;
  position: relative;
  grid-template-rows: repeat(4, 300px);
  }

.box2-1{
  position: relative;
  padding: 5px;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 200px;
  margin-left: -50%;
  margin-top: -50%;
}

#name{
  display: block;
  color: #932626;
  width:200px;
  height: 25px;
  margin: 5px;
}
#name-side{
  display: block;
  color: #000000;
  width:200px;
  height: 25px;
  margin: 5px;
}
ol{
  padding-left: 20px;
}
#home{
  text-align: left;
  margin: 0px;
  font-size: 20px;
}
#home a{
  color: #ffffff;
  background-color: #F14200;
  padding: 15px 5px 180px 5px;
  margin-left: 0px;
}
